
@media (min-width: 768px){
    .btn {
        padding: 0.3rem!important;
    }
}

@media (min-width: 992px) {
    header {
        background-image: url(/images/bg_blue_tablet.png);
        height: 120vh;
    }

    .btn {
        padding: 0.5rem!important;
    }

    .header-pic {
        display: block;
    }
    .logo {
        justify-content: space-between;
        align-items: center;
        height: 30vh;
        width: 100vh;
    }
    .logo img {
        height: 4rem;
    }


    #about-us {
        flex-direction: row;
        height: 100vh;
    }
    #snurr img {
        height: 25rem;
    }
    .text-about {
        max-width: 30rem;
    }

    #features {
        height: 80vh;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    #features-grid {
        flex-direction: column;
        max-width: 50rem;
    }

    #title .app-text {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 20%;
    }
}

@media (min-width: 1200px) {
        header {background-image: url(/images/background-header.png);
            height: 120vh;
    }
    .btn {
        padding: 0.6rem!important;
    }

    .logo {
        width: auto;
    }
    .logo img {
        margin-top: 5rem;
        height: 5rem;
    }

    .btn-orange {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .video {
        justify-content: flex-start;
        
    }
    .video img {
        margin-left: 1.4rem!important;
    }

    #about-us {
        flex-direction: row;
        justify-content: space-between;
        height: 100vh;
    }
    .text-info h1, p {
        text-align: left!important;
    }
    .text-about {
        max-width: 30rem;
    }
    #snurr img {
        height: 30rem;
    }

    #features {
        height: 150vh;
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
    }
    #feature .container {
        height: 100vh!important;
        width: 100vw!important;

    }
    .features-text p {
        text-align: left!important;
    }
    .l-l {
        text-align: left;
    }
    #dotted-grid {
        display: flex;
    }
    
    #features-grid {
        flex-direction: row;
    }
    .ring-mobile img {
        height: 30rem;
    }
    
    #title .app-text {
        margin-left: 30%;
    }

    #download-apps {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .download-class {
        display: flex;
        flex-direction: column;
    }
    #download-info {
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        margin-left: 5rem;
        margin-top: 5rem;
    }
    .download-text > h3 {
        justify-content: left!important;
        font-size: 57px;
        font-weight: 500;
        color: white;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    .download-btn {
        justify-content: space-around;
    }
    .download-phones img {
        display: flex;
        flex-direction: row;
        bottom: 0;
        right: 0;
    }
    .left {
        position: absolute;
        bottom: 0rem;
        right: 15rem;
    }
    .right {
        position: absolute;
        bottom: 0rem;
        right: 0rem;
    }
    .front {
        position: absolute;
        bottom: 0rem;
        right: 5rem;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1920px) {
    header {background-image: url(/images/background-header.png);
        height: 120vh;
    }
    #features {
        position: relative;
        background-color: #F8F8F8;
        justify-content: center;
        align-items: stretch;
        /* height: 160vh; */
        height: inherit;
        flex-direction: row;
        margin-top: 1rem;
        margin-right: 0!important;
    }
    .footer-links {
        display: flex;
        flex-direction: row;
    }
}