* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif!important;
}

h1 {
    font-size: 57px;
    font-weight: 500;
    justify-content: center;
    text-align: center;

}
h5 {
    margin: 1rem;
    justify-content: center;
    text-align: left;
}
p {
    font-size: 18px;
    margin: 1rem;
    justify-content: space-around;
    text-align: center;
}

button {
    padding: 0!important;
    border-radius: 0.9rem!important;
    font-weight: bold!important;
    padding: 0.2rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}



.btn-orange {
    background-color: #ffbb00;
    color: white;
    padding: 0.2rem!important;
}

.btn-orange:hover {
    background-color: #f8ce59;
    color: white;
    box-shadow: #0000008f 2px 2px 10px;
}

.btn-blue {
    border: 1px solid white!important;
    color: white;
    padding: 0.2rem!important;
}

.btn-blue:hover {
    color: white;
    box-shadow: #0000008f 2px 2px 10px;
}



/* header start */
header {
    height: 100vh;
    background-image: url(/images/bg_blue_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.showcase .container {
    height: inherit;
    align-items: center;
}
.info {
    margin-top: 10rem;
    align-items: center;
    text-align: center;
}


.header-pic {
    display: none;
}

.video {
    justify-content: space-between;
}

.nav-link {
    position: relative;
    color: white!important;
    font-weight: 500 !important;
    margin-right: 2rem;
}
.nav-link:hover {
    color: #ffbb00!important;
    
}
.nav-link:hover::after {
    position: absolute;
    content: "";
    background-color: #ffbb00;
    width: 2rem;
    height: 0.2rem;
    left: 0.5rem;
    top: 32px;
}

/* header end */

/* logooo start */


.logo img {
    object-fit: scale-down!important;
    height: 0.7rem;
}

.logo {
    justify-content: space-between;
    position: relative;
    align-items: center;
    overflow: hidden;
    height: 30vh;
  }
  
  .logo:hover {
    -webkit-animation: spin 5s infinite;
     animation: spin 5s infinite;
     cursor: pointer;
  }
  
  @-webkit-keyframes spin{
    from {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
    }
  }
  
  @keyframes spin{
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
/* logooo end */

/* about us start */


.spin {
    animation: rotation 13s infinite linear;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

    #about-us {
        /* background-image: url(/images/features/bg.png); */
        background-repeat: no-repeat;
        justify-content: space-between;
        align-items: center;
        height: 140vh;
        width: 100vw;
        flex-direction: column;
    }
    
    #snurr {
        position: relative;
        width: 22rem;
        height: 28rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #snurr img {
        position: absolute;
    }

    
    .text-about {
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .text-about .orange {
        border: 1px solid transparent;
        background-color: #ffbb004b;
        width: 70px;
        border-radius: 0.4rem;
        color: #ffbb00;
        padding: 0.13rem;
        
    }

    .d-flex .apps {
        justify-content: space-evenly;
        align-items: center;
    }
    .d-flex .apps img {
        height: 2rem;
        align-self: center;
        margin-left: 0.3rem;
    }

    .text-info {
        color: #333333!important;
        text-align: center;
    }

    .google-play {
        border: 1px solid transparent;
        background-color: #F8F8F8;
        border-radius: 0.4rem;
    }

    .app-store {
        border: 1px solid transparent;
        background-color: #F8F8F8;
        border-radius: 0.4rem;
    }

    .google-play .bold-text {
        font-weight: bold;
        font-size: 22px;
    }
    .app-store .bold-text {
        font-weight: bold;
        font-size: 22px;
    }
/* about us end */

/* features start */

#features {
    position: relative;
    background-color: #F8F8F8;
    justify-content: center;
    align-items: center;
    height: 160vh;
    width: 100vw;
    flex-direction: column;
    margin-top: 1rem;
}
#dotted-grid {
    display: none;
}
.orange {
    border: 1px solid transparent;
    background-color: #ffbb004b;
    width: 70px;
    border-radius: 0.4rem;
    color: #ffbb00;
    padding: 0.13rem;
    
}
#features-grid {
    align-items: center;
    justify-content: center;
}
#features-text {
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cards img {
    height: 3rem;
}
.ring-mobile {
    flex-direction: column;
    position: relative;
}
.ring-mobile img {
    height: 20rem;
}

/* features end */

/* application start */
    #application {
        position: relative;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    #title .app-text {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .app-text p {
        max-width: 30rem;
    }

    .item img:hover {
        cursor: pointer;
    }

   
/* application end */

/* application statistics start */

    #application-statistics {
        height: 50vh;
        background-image: url(/images/dotted_map.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    
    .statistics {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .stat-text {
        justify-content: center;
        text-align: center;
    }
    #statistics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        object-fit: scale-down;
    }

    .stat-items {
        display: flex;
        flex-direction: column;
    }

    .blue-text {
        font-weight: bold;
        font-size: 30px;
        color: #3096FE;
    }
/* application statistics end */